/*@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}*/
body {
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 750px;
  border-radius: 5px;


}

header {
      margin: 0 auto;
      padding: 10px;
      border-bottom: 2px solid white;
      width: 420px;
      border-bottom-right-radius: 5px;
      background: #025e53;
      color: white;
      margin-top: -9px;
      margin-bottom: -12px
    }
    header img{
      border-radius: 50%;
    }
    .chat-info{
      /*position: relative;*/
      margin-left: 20%;
    }
img {
      float: left;
      position: relative;
    }
.chat{
  margin: 0 auto;
  padding: 10px;
  max-width: 420px;
  color: black;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.jpg');
  background-repeat: repeat;
  /*background-clip: text;*/
  overflow: hidden;
  padding-right: 60px;
}

p{
  margin:  10 10.5em;
  border-radius: 5px;
  padding: 0.5em 1em;
  background: white;
  max-width: 75%;
  clear: both;
  position: relative;

}

.them{
  background: white;
  float: left;
  border-top-left-radius:0px;
    font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*left: -0.5em;*/
}
.them::before {
        content: "";
        position: absolute;
        left: -8px;
        top: 0px;
        right: 0px;
        width: 0px;
        height: 0px;
        border: 5px solid white;
        border-left-color: transparent;
        border-bottom-color: transparent;
        /*box-shadow: 2px 0px 0px white;*/

    }

.me{
  background: #e1fec6;
  float: right;
  border-top-right-radius:0px;
  font-weight: bold;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.me::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  left: 100%;
  width: 0px;
  height: 0px;
  border: 5px solid #e1fec6;
  border-right-color: transparent;
  border-bottom-color: transparent;
    }
  .write {
            position: fixed;
            bottom: 11px;
            left:  456px;
            height: 30px;
            padding-left: 0px;
            border: 1px solid white;
            width: 363px;
            border-radius: 5px;
            color: black;
}
.write::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  left: 100%;
  width: 0px;
  height: 0px;
  border: 5px solid black;
  border-top-right-radius:0px;
  border-right-color: transparent;
  border-bottom-color: transparent;
    }
input {
               font-size: 16px;
               float: left;
               height: 36px;
               width: 362px;
               padding: 0 10px;
               color: black;
               border: 0;
               outline: none;
               background-color: white;
               border-radius: 5px;
               border: 1px solid black;
               border-top-right-radius:0px;
               font-weight: bold;
               margin:  10 10.5em;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
           }
  .send {
               position : absolute;
               display: inline-block;
               float: left;
               width: 20px;
               height: 42px;
               margin-left: 11px;
               content: '';
               background-repeat: no-repeat;
               background-position: center;
           }
      .send img{
        width: 37px;
        height: 37px;
        left: 25%;
        border-radius: 50%;

      }

 .top {
   position : absolute;
   top      : 0px;
   left     : 100%;
   right    : 0px;
   width    : 0px;
   height   : 0px;
   z-index  : 100;
   border-left   : 9px solid white;
   border-right  : 9px solid transparent;
   border-bottom : 9px solid transparent;


   /*border: 5px solid #e1fec6;*/

}
.bottom {
   position : absolute;
   top      : -1px;
   left     : 100%;
   right    : 0px;
   width    : 0px;
   height   : 0px;
   z-index  : 99;

   border-left   : 12px solid black;
   border-right  : 12px solid transparent;
   border-bottom : 12px solid transparent;

}
.sheffa{
  position: relative;
  top:1px;
}
